/*
	Global classes
					*/
body {
	background-image: url("assets/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}

a {
   color:inherit;
	 text-decoration: none;
}

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-color: #D3DFE7;
}

.head-bar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 60px;
	background-color: #004E89;
	color: white;
}

.title-head{
	position: relative;
	margin-left: .75em;
}

.back-button {
  position: relative;
}

#save-button{
	margin-top: 1.5em;
	color: #004E89;


}


.footer {
	position: absolute;
	height: 55px;
	width: 300px;
	background-color: #BE2B2B;
	top: 581px;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.icon{


}


#splash-screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-color: #5F8CA9;
}

.splash-container{
}

.headline{
	color: #004E89;
	text-align: center;
	padding-top: 40%;
	font-style: italic;
}

.tagline{
	color: #004E89;
	text-align: center;
	font-size: 0.8em;
	padding-top: 20%;
	padding-bottom: 20%;
	font-style: italic;


}

.start-button{
	background-color: white;
	border: 1.5px dashed #004E89;
	color: #004E89;
	width: 7em;
	height: 2em;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;

}

.profile_title{
	font-size: 2em;
	padding-top: .25em;
	padding-left: .5em;
	font-weight: bold;
}

.year_container{
	font-size: 1.5em;
	padding-top: .5em;
	padding-left: 1em;
	line-height: 150%;

}

/* below styles are for profile_page */

#profile-pic {
	font-size: 72px;
}

.details-container {
	margin-left: 20px;
}

.page-content {
	padding: 20px;
	margin-top: -25px;
}

.top {
	display: flex;
	margin-left: -10px;
	margin-top: -15px;
}

.profile_input {
	width: 80%;
	margin: 8px 0;
	border: none;
	outline: none;
	background-color: #D3DFE7;
	vertical-align: top;
  }

  .profile_input::placeholder {
	color: black
  }

  #bio {
	margin-top: -10px;
	height: 100px;
	width: 100%;
  }

  #name {
	font-size: 25px;
  }

  #pronouns {
	font-size: 18px;
	margin-top: -4px;
  }

  .profile_input:focus {
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid black;
	outline: none;
  }

  .external-selectors {
	margin-top: 30px;
  }

  .external-selectors h3 {
	border: 1px solid black;
	padding-left: 2px;
	margin-top: -15px;
  }

  .external-selectors a {
	text-decoration: none;
  }

  .external-selectors input {
	border: 1px solid black;
	width: 100%;
	height: 30px;
  }

  #arrow {
	margin-left: 90%;
	margin-top: -45px;
  }

  #messages-profile-name {
	font-size: 25px;
	font-weight: normal;
  }

  #messages-profile-details {
	width: 100%;
	font-size: 16px;
	margin-top: -4px;
	font-weight: normal;
	color: rgb(75, 75, 75);
  }
  
  .image-container img {
	width: 68px;
	height: 68px;
	border-radius: 50%;
	border: 1px solid black;
	margin-left: 5px;
  }


  #screen-interest{
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-color: #D3DFE7;
	overflow-y: scroll;
  }



  .message-header-container {
	margin-left: 15px;
	margin-top: 30px;
  }

  #message-box {
	width: 240px;
	margin-left: 5px;
	height: 50px;
	position: absolute;
	top: 525px;
  }

  #send-button {
	height: 50px;
	position: absolute;
	top: 525px;
	left: 280px;
  }

  .message-bubble-sender p {
	padding: 5px;
	border: 1px solid black;
	max-width: 40%;
	margin-left: 3%;

  }

  .message-bubble-recipient p {
	padding: 5px;
	border: 1px solid black;
	max-width: 40%;
	margin-left: 53%;
  }

  #arrow-2 {
	margin-left: -60px;
	font-size: 30px;
  }

  #move-me {
	margin-left: -140px;
  }


.refresh-mesg{
		padding-top: 1rem;
		font-size: 1.2rem;
		color: grey;
	}

	.time-container{
		margin-top: -.5rem;
		margin-bottom: 2rem;
		display: flex;
	}

	.day-container{
		display: flex;
		margin-left: 4rem;
	}

	#day-select{
		font-size: .8rem;
		width: 3.75rem;
		text-align: center;
		background-color: white;
		border: 1px solid black;

	}

	.search-profile{
		display: flex;
	}

	.search-details-container{
	}

	.message-button-container{
		position: relative;
		margin-left: auto;
		margin-top: 1rem;
	}

	.message-button{
		background-color: #004E89;
		color: white;
		width: 4rem;
		text-align: center;
		border: 1px solid black;
		margin-bottom: .4rem;
		font-size: .59rem;
	}

	.quick-message{
		background-color: lightgrey;
		font-size: .55rem;
		color: black;
	}
