/*
	Global classes
					*/
body {
	background-image: url("assets/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}

a {
   color:inherit;
}

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-color: #D3DFE7;
}

.head-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	background-color: #004E89;
	color: white;
}


.footer {
	position: absolute;
	height: 55px;
	width: 300px;
	background-color: #BE2B2B;
	bottom: -10px;

}


#splash-screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-color: #5F8CA9;
}

.splash-container{
}

.headline{
	color: #004E89;
	text-align: center;
	padding-top: 40%;
	font-style: italic;
}

.tagline{
	color: #004E89;
	text-align: center;
	font-size: 0.8em;
	padding-top: 20%;
	padding-bottom: 20%;
	font-style: italic;


}

.start-button{
	background-color: white;
	border: 1.5px dashed #004E89;
	color: #004E89;
	width: 7em;
	height: 2em;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;

}
