/* 
	Global classes 
					*/
body {
	background-image: url("assets/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
	height: 60px;
	background: blue;
}


.footer {
	height: 55px;
	background: red;
	margin-top: 415px;
	
}
